/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap");
/* reset  */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Mulish", sans-serif;
}
body {
  background-color: #fff;
}
/* shared styles  */

.container {
  max-width: 81.25%;
  /* background-color: rgb(55, 52, 51); */
  margin: 0 auto;
}

/* header part starts */
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 3.25rem;
  padding-bottom: 3.12rem;
}

nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.03rem;
}
nav img {
  width: 3rem;
  height: 3.5005rem;
}
nav .logo h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 2.25rem;
  font-weight: 800;
}
nav .logo h1 span {
  color: #ff5400;
}
nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .links .humberger {
  display: none;
  font-size: 1.5rem;
}

nav .links ul {
  display: flex;
  column-gap: 2.75rem;
  font-family: Mulish;
  font-size: 1.125rem;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-weight: 400;
}
nav .links ul li:nth-child(1) {
  color: #ff5400;
}

/* header for tablet */
@media screen and (min-width: 601px) and (max-width: 991px) {
  nav .links ul {
    column-gap: 1rem;
  }
  nav .logo h1 {
    font-size: 1.8rem;
  }
}

/* header for mobile  */
@media screen and (max-width: 600px) {
  nav .links ul {
    display: none;
  }

  nav .links .humberger {
    display: inline;
  }

  nav .logo h1 {
    font-size: 1.34644rem;
  }
}

/* header part ends  */

/* banner section starts  */

.explore {
  border-radius: 1rem;
  height: 31.25rem;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6.63rem;
  margin-bottom: 6.25rem;
}
.explore .explore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore .exploreHeader {
  color: #fff;
  font-family: Mulish;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.explore .exploreParagraph {
  max-width: 42.25rem;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.exploreSelectBoxes {
  max-width: 50rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.exploreSelectBoxes select {
  display: block;
}

.exploreSelectBoxes > * {
  width: 10.875rem;
  height: 3.25rem;
  text-align: center;
  border-radius: 0.5rem;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-weight: 400;
  font-size: 1rem;
}

.exploreSelectBoxes select option {
  font-size: 1rem;
}
.exploreSelectBoxes button{
    background-color: #ff5400;
    color: #fff;
    border: none;
}

/* banner responsive for tablet */
@media screen and (min-width: 601px) and (max-width: 991px) {
  .exploreHeader {
    font-size: 2rem;
  }
  .explore{
     padding-bottom: 2rem;
    text-align: center;
}
.explore .explore-container{
padding: 1rem;
} 

.explore .exploreParagraph{

    font-size: 0.875rem;
    line-height: 1.3125rem; 
    margin-bottom: 2rem;
      }
      .exploreSelectBoxes {
        flex-direction: column;
        gap: 1rem;
      }
    
      .exploreSelectBoxes select {
        display: block;
      }
    
      .exploreSelectBoxes > * {
        width: 15.9375rem;
        height: 3.25rem;
        
    }


}

/* banner responsive  for mobile  */
@media screen and (max-width: 600px) {
    .explore{
     
        text-align: center;
    }
   .explore .explore-container{
   padding: 1rem;
   } 
  .explore .exploreHeader {
    font-size: 1.375rem;
    font-weight: 800;
    margin-bottom: 0;
  }

  .explore .exploreParagraph{

font-size: 0.875rem;
line-height: 1.3125rem; 
margin-bottom: 2rem;
  }
  .exploreSelectBoxes {
    flex-direction: column;
    gap: 1rem;
  }

  .exploreSelectBoxes select {
    display: block;
  }

  .exploreSelectBoxes > * {
    width: 15.9375rem;
    height: 3.25rem;
    
}

}

/* banner section ends  */


/* tour section starts */

.tour{
    display: flex;
   margin-bottom: 6.25rem;
   align-items: center;
   justify-content: center;
}

.tour img{
    width: 100%;
max-width: 33.75rem;
max-height: 34.375rem;
}
.tour .populartour {
   
}

.tour .populartour h1{
color: #131318;
font-family: Mulish;
font-size: 2.5rem;
font-weight: 800;

}
.tour .populartour p{
color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem;
margin: 1.5rem 0;
}

.tour .populartour ul li{
    list-style: disc;
    list-style-position: inside;
    max-width: 32.8125rem;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
    margin: 1rem 0;
    position: relative;

}
/* .populartour ul li ::before{
     content: '\2022'; 
      position: absolute;
      left: 0;
      color: #333;
} */

.populartour .tourParagraphSecond{
    margin: 0.5rem 0;
}
.populartour button {
width: 10.875rem;
height: 3.25rem;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1.25rem;
font-weight: 800;
border-radius: 0.5rem;
background-color:  #FF5400;
border: none;
margin-bottom: 1.5rem;
}



/* tour responsive for tablet */
@media screen and (min-width: 601px) and (max-width: 991px) {
    .tour{
        flex-direction: column;
    }
    .tour .populartour h1{
        font-size: 1.85rem;
        
    }
    .tour .populartour p, .tour .populartour ul li{
        font-size: 1.25rem;

    }
    .tour .populartour button{
        font-size: 2rem;
    }

}


/* tour responsive  for mobile  */
@media screen and (max-width: 600px) {
    .tour{
        flex-direction: column;
    }
    .tour .populartour h1{
        font-size: 1.25rem;
        
    }
    .tour .populartour p, .tour .populartour ul li{
        font-size: 0.875rem;

    }
    .tour .populartour button{
        font-size: 1.25rem;
    }
}

/* tour section ends  */


/* destination section starts */

.destination{
   
}

.destination h1 {
text-align: center;
color: #131318;
font-family: Mulish;
font-size: 2.5rem;
font-weight: 800;
margin-bottom: 1.5rem;
}
.destination p{
text-align: center;
margin: 0 auto 3rem;
max-width:40.1875rem;
color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 1rem;
font-weight: 400;

line-height: 1.625rem; /* 162.5% */
}
.destinationImages{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.destinationImage{
    display: flex;
    justify-content: center;
    align-items: center;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1.75rem;
font-weight: 800;

}
.destinationRowOne{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}

.destinationRowTwo{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}
.destinationRowThree{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}
#image1{
background-image: url("../Images/image1.png");
background-repeat: no-repeat;
background-size: cover;
width: 35.8125rem;
height: 18.75rem;

}

#image2{
    width: 35.8125rem;
    height: 18.75rem;
    background-image: url("../Images/image2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#image3{
    width: 23.375rem;
    height: 17.875rem;
    background-image: url("../Images/image3.png");
background-repeat: no-repeat;
background-size: cover;
   

}
#image4{
width: 29.625rem;
height: 17.875rem;
background-image: url("../Images/image4.png");
background-repeat: no-repeat;
background-size: cover;
}
#image5{
width: 17.125rem;
height: 17.875rem;
background-image: url("../Images/image5.png");
background-repeat: no-repeat;
background-size: cover;

}
#image6{
    width: 29.5625rem;
height: 18.75rem;
background-image: url("../Images/image6.png");
background-repeat: no-repeat;
background-size: cover;

}
#image7{
    width: 42.0625rem;
    height: 18.75rem;
    background-image: url("../Images/image7.png");
background-repeat: no-repeat;
background-size: cover;
    
}
 








/* destination for tablet  */
@media screen and (min-width: 601px) and (max-width: 991px) {
.destinationRowOne{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.destinationRowTwo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.destinationRowThree{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#image1, #image2,#image3,#image4,#image5,#image6,#image7{
    background-size: 100% 100%;
    width: 100%;
    height: 11rem;;
}

}


/* destination for mobile  */
@media screen and (max-width: 600px) {
    
    .destinationRowOne{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .destinationRowTwo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .destinationRowThree{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #image1, #image2,#image3,#image4,#image5,#image6,#image7{
        background-size: 100% 100%;
        width: 100%;
        height: 11rem;;
        font-size: 1.25rem;
    }
}
/* destination section ends */
